
<link rel="shortcut icon" href="/images/cp_ico.png">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />


<nav class="navbar navbar-fixed-top navbar-toggleable-sm navbar-inverse bg-primary mb-3">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" data-toggle="collapse">About</a>
            </li>
        </ul>
       
    </div>
</nav>



<div class="container-fluid" id="main">
    <div class="row row-offcanvas row-offcanvas-left">
        <div class="col-md-3 col-lg-2 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav flex-column pl-1">
                <button routerLink="/dashboard/admindash" (click)="adminroute()" class="btn btn-dark mb-3">Admin</button>
                <button routerLink="/dashboard/userdash" (click)="userroute()" class="btn btn-secondary">User</button>
                
                
            </ul>
        </div>